body {
    font-family: sans-serif;
    background-color: #f1f3f8;
    width: 1100px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        max-width: 50px;
        max-height: 50px;
        margin: 10px;
    }
    a {
        text-decoration: none;
        color: #8d93ab;
        margin: 5px;
    }
}

.information {
    h2 {
        text-align: center;
    }
    .info {
        img {
            height: 141px;
            width: 141px;
            margin-left: 15px;
            padding-right: 20px;
        }
        .table {
            width: 100%;
        }
        .info2 {
            padding-top: 40px;
        }
    }
}

.bottom {
    hr {
        color: #393b44;
        width: 1100px;
        margin-top: 150px;
    }
    a {
        text-align: center;
        margin-left: 540px;
        text-decoration: none;
        color: #8d93ab;
    }
}