body {
    font-family: sans-serif;
    background-color: #f1f3f8;
}

.menu {
    text-align: right;
    .logo {
        max-width: 50px;
        max-height: 50px;
        margin: 10px;
        padding-right: 1250px;
    }
    a {
        text-decoration: none;
        color: #8d93ab;
        margin: 5px;
        padding: 50px 0px;
    }
}

h2 {
    text-align: center;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    img {
        height: 125px;
        width: 125px;
        display: block;
        margin: auto;
        padding: auto;
    }
    p {
        text-align: center;
    }
}

.button {
    margin-top: 10px;
    .butt {
        margin-left: 720px;
        color: #393b44;
        text-decoration: none;
        user-select: none;
        background: #d6e0f0;
        padding: .7em 1.5em;
        outline: none;
    }
}

.bottom {
    hr {
        color: #393b44;
        width: 1400px;
        margin-top: 15px;
    }
    a {
        text-align: center;
        margin-left: 750px;
    }
}